/*GLOBAL*/

img{
  width: 50%;  
  float: right;
}

body{
  background: url(../img/swirl.png);
}

/*NAVIGATION*/

nav a{
  color: black;
}

ul {
  list-style: none;
}


/*LAYOUT*/


/*TYPOGRAPHY*/

h1 {
  color: rgba(0,0,0,.5);
  text-align: center;
}






