/*GLOBAL*/

.cover{
  width: 100%;
}

body{
  background: #acd099;
}

/*NAVIGATION*/

ul{
  list-style: none;
  display: inline-block;
  float: right;
  
}

ul li{
  display: inline-block;
  padding: 10px;
  margin: 5px;
}
nav a{
  color: white;
  text-decoration: none;
}


/*LAYOUT*/


/*TYPOGRAPHY

font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Sofia', cursive;

*/

.name{
  margin-top: -340px;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 700%;
  text-align: center;
}

.designer {
  font-family: 'Sofia', cursive;
  color: white;
  text-align: center;
  font-size: 300%;
  margin-top: -110px;
  margin-bottom: 200px;
}




