/*GLOBAL*/

.cover{
  width: 100%;
}

body{
  background:
}

/*NAVIGATION*/

ul{
  text-decoration: none;
  list-style: none;
  display: inline-block;
  float: right;
  color: white;
  
}

ul li{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
}



/*LAYOUT*/


/*TYPOGRAPHY*/

h1 {
  color: darkblue;
  text-align: center;
  font-size: 50px;
  margin-bottom: -10px;
}






